
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/cases.css" />

    <title>Cases</title>

</head>

<body>
    <div class="container">

        <br>
        <div class="notifi_icon">

            <a href="#"><img class="imge" src="not.jpeg" width="70px" height="70px" alt=""></a>
            <span style="margin-left:90%;font-weight: 400px;font-size:larger;font-family: 'Gill Sans', 'Gill Sans MT',
                Calibri, 'Trebuchet MS', sans-serif;color: aliceblue;">
                Notifications
            </span>
        </div>
        <h1 style="margin: 11px;"></h1>
        <br>
        <div class=" table">
            <table>
                <thead>
                <td class="id">
                    ID
                </td>
                <td class="name">
                    Name
                </td>
                <td class="age">
                    Age
                </td>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            shimaa
                        </td>
                        <td>
                            21
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</body>

</html>
