@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- create an account -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <mata name="description" content="This Is Description For My First Page">

        <title>Create Case Inspector Account</title>
        <link rel="stylesheet" href="css/style.css">


</head>
<body style="background: url(Help-2.jpg) no-repeat; background-size: cover;background-attachment: fixed;
 background-position: center; opacity: 150%; margin:0; font-family: verdana,arial,sans-serif;">
    <form style=" width:430px; ;margin: auto; margin-top:80px; height:580px;background-color: rgba(14, 176, 208, 0.2);
     border-radius: 18px;">
        <div style="  width:200px; margin:auto;position:relative; padding:10px; top:30px;
    text-align: center; font-weight:bold;font-size: larger;">
            Register a user
        </div>
        <br>
        <div>
            <div style="margin-left: 30px;margin-bottom: 10px;">Full Name</div>
            <input class="1" type="text" required placeholder="Type a Complete name" style="  width:350px;
        height: 30px;margin-left: 40px;margin-bottom: 10px;border-color: transparent transparent  #b4afaf transparent;
        background-color:rgba(255, 255, 255, 0.4)">
            <br>
            <div class="email">
                <div style="margin-left: 30px;margin-bottom: 10px;">Email</div>
                <input class="1" type="email" required placeholder="Type  Email" style="  width:350px;
    height: 30px;margin-left: 40px;margin-bottom: 10px;border-color: transparent transparent  #b4afaf transparent;
    background-color:rgba(255, 255, 255, 0.4)">

            </div>
            <br>
            <div class="pass">
                <div style="margin-left: 30px;margin-bottom: 10px;">password</div>
                <input type="password" required required placeholder="Type Complex password" style="  width:350px;
    height: 30px;margin-left: 40px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
            </div>

            <br>
            <div>
                <div style="margin-left: 30px;margin-bottom: 10px;">Salary</div>
                <input type="text" required required placeholder="Type value of the Salary" style="  width:350px;
    height: 30px;margin-left: 40px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
            </div>

            <div>
                <input class="sub" type="submit" value="create" style=" position: relative; width:360px;
height: 40px;  margin-top:30px;margin-left:30px; border-radius:10px;  background-color:rgba(255, 255, 255, 0.4); text-align:center;">
            </div>
    </form>
</body>

</html>