@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/information.css" />

    <title>Information</title>

</head>
<body>
    <table style ="width:800px; height:500px; margin:auto;border:2px solid rgba(14, 176, 208, 0.2);
     margin-top:80px; height:580px;background-color: rgba(14, 176, 208, 0.2); border-spacing:2px">
<title>Case Information</title>
<tr>
   
<tr  >
   <td style="position: relative;
   left: 15px;">First Name</td>
<td style="position: relative;
left: 15px;">Last Name</td>
</tr>
<tr>
   <td >
      <input type="text" required required placeholder="Type first name" style="  width:250px;
    height: 30px;margin-left: 20px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
   </td>
   <td>
      <input type="text"  required placeholder="Type last name" style="  width:250px;
    height: 30px;margin-left: 40px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
   </td>
</tr>
<tr  style="margin-left: 30px;margin-bottom: 10px;">
   <td style="position: relative;
   left: 15px;">Age</td>
<td style="position: relative;
left: 15px;">Gender</td>
</tr>
<tr>
   <td>
      <input type="number" required placeholder="type Age" style="  width:250px;
    height: 30px;margin-left: 20px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
   </td>
 <td>
   <input id="check" type="radio" style="color:rgba(255, 255, 255, 0.4) ;position: relative;
   left: 30px;">
   <label for="check" style="position: relative;
   left: 30px">Male</label>
 
   <input id="check1" type="radio" style="color:rgba(255, 255, 255, 0.4); position: relative;
   left: 45px">
   <label for="check1" style="position: relative;
   left: 45px">Female</label>
 </td>
</tr>
<tr  style="margin-left: 30px;margin-bottom: 10px;">
   <td style="position: relative;
   left: 15px;">Address</td>
<td style="position: relative;
left: 15px;">Phone Number</td>
</tr>
<tr>
   <td>
      <input type="text" required required placeholder="Type valid address" style="  width:250px;
    height: 30px;margin-left: 20px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
   </td>
   <td>
      <input type="text"  required placeholder="Type valid phone number" style="  width:250px;
    height: 30px;margin-left: 40px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
   </td>
</tr>
<tr  style="margin-left: 30px;margin-bottom: 10px;">
   <td style="position: relative;
   left: 15px;">Family Size</td>
<td style="position: relative;
left: 15px;">Monthly Earning</td>
</tr>
<tr>
   <td>
      <input type="number" required required placeholder="type number of Family members" style="  width:250px;
    height: 30px;margin-left: 20px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
   </td>
   <td>
      <input type="text"  required placeholder="Type Monthly income" style="  width:250px;
    height: 30px;margin-left: 40px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
   </td>
</tr>
<tr  style="margin-left: 30px;margin-bottom: 10px;">
   <td style="position: relative;
   left: 15px;">Inspector</td>
<td style="position: relative;
left: 15px;">Diseases</td>
</tr>
<tr>
   <td>
      <input type="text" required required placeholder=" type inspector name" style="  width:250px;
    height: 30px;margin-left: 20px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
   </td>
   <td>
      <input type="text"  required placeholder=" type Diseases " style="  width:250px;
    height: 70px;margin-left: 40px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
   </td>
</tr>
<tr  style="margin-left: 30px;margin-bottom: 10px;">
   <td style="position: relative;
   left: 15px;">General Notes</td>

</tr>
<tr>
   <td>
      <input type="text" required required placeholder="" style=" 
       width: 100%; padding: 12px 20px;
    margin: 8px 0;box-sizing: border-box;border-radius: 4px;
    height: 150px;margin-left: 20px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
   </td>
   
</tr>
<tr>
<td>
   <input class="sub" type="submit" value="Add Case"style=" position: relative; width:100px;
   height: 40px;  margin-top:30px;margin-left:30px; border-radius:10px;  background-color:rgb(32, 81, 91, ); text-align:center;">
 </td>
</tr>
   </table>

</body>
