

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <mata name="description" content="This Is Description For My First Page">
        <title>Admin</title>
        <link rel="stylesheet" href="~/css/data.css">
</head>
<body>
    <form style=" width:430px; ;margin: auto; margin-top:80px; height:500px;background-color: rgba(14, 176, 208, 0.2);
     border-radius: 18px;">
        <div style=" position:relative; width:100px; margin:auto; padding:15px; top:50px;
    text-align: center; font-weight:bold;font-size: larger;">
            Welcome!.
        </div>
        <div>
            <input class="sub" type="submit" value="Add Case" style=" position: relative; width:330px;
height: 40px;  margin-top:70px;margin-left:50px; border-radius:10px;  background-color:rgba(255, 255, 255, 0.4);" asp-action="Information" asp-controller="Admin">
        </div>
        <div>
            <input class="sub" type="submit" value="Create account" style=" position: relative; width:330px;
    height: 40px;  margin-top:30px;margin-left:50px; border-radius:10px;  background-color:rgba(255, 255, 255, 0.4);" asp-action="Create" asp-controller="Admin">
        </div>
        <div>
            <input class="sub" type="submit" value="Show Inspectors" style=" position: relative; width:330px;
    height: 40px;  margin-top:30px;margin-left:50px; border-radius:10px;  background-color:rgba(255, 255, 255, 0.4);" asp-action="Inspectors" asp-controller="Admin">
        </div>
        <div>
            <input class="sub" type="submit" value="Show Reports" style=" position: relative; width:330px;
    height: 40px;  margin-top:30px;margin-left:50px; border-radius:10px;  background-color:rgba(255, 255, 255, 0.4);" asp-action="Reports" asp-controller="Admin">
        </div>
    </form>
</body>
</html>