@model IEnumerable<Report>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/cases.css" />
    <title>Reports</title>
</head>
<body>
    <div class="container">
        <br>
        <h1 style="margin: 11px;"></h1>
        <br>
        <div class=" table">
            <table>
                <thead>
                <td class="id">
                    Case Id
                </td>
                <td class="name">
                    Report Id
                </td>
                <td class="age">
                    Conclusion
                </td>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.MyCase.CaseId
                            </td>
                            <td>
                                @item.ReportId
                            </td>
                            <td>
                                @item.FinalConclusion
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>