
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case Inspector</title>
    <link rel="stylesheet" href="..\css\style_2.css" />

</head>
<body>
    <div class="form_">
        <form>
            <input type="submit" value="Sign Up" asp-action="Signup" asp-controller="Account">
            <br>
            <input type="submit" value="Sign In" asp-action="Login" asp-controller="Account">
        </form>
    </div>
</body>

</html>
