@model Admin
<!-- Home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <mata name="description" content="This Is Description For My First Page">

        <title>Login Page</title>
        <link rel="stylesheet" href="..\css\registration.css">


</head>
<body>
    <div class="form_">
        <header style="font-weight: bold; font-size: 30px; padding: 30px;">Sign In</header>
    <form method="post" asp-action"Signin">
        <br>
            <div class="email">
                <input asp-for="Email" type="text" required placeholder="Email">
                <span asp-validation-for="Email"></span>
            </div>
            <br>
            <div class="pass">
                <input asp-for="Password" type="password" required placeholder="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <br>
            <div>
                <input class="sub" type="submit" value="Sign In" >
            </div>
            <br>
        </form>
    </div>
</body>

</html>