@{
   
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill Report</title>
    <link rel="stylesheet" href="report.css" />

</head>

<body>
    <div class="container">
        <form>
            <div class="check_data">
                <p>Is data valid ?</p>
                <div> <input id="yes" type="radio" name="type" value="Yes">
                    <label for="yes">Yes</label>
                </div>
                <div><input id="no" type="radio" name="type" value="No">
                    <label for="no">No</label>
                </div>
            </div>
            <hr>

            <div class="type">
                <p>Type of case :</p>
                <select name="case's_type" id>
                    <option value="1">Poor</option>
                    <option value="2">Debtor</option>
                    <option value="3">Chronic disease patient</option>
                    
                </select>
            </div>
            <br>
            <hr>
            <div class="conc">
                <p>Conclusion</p>
                <textarea id="evaluation" name="subject" placeholder="text" rows="10" cols="40"></textarea>
            </div>

            <br>
            <input type="submit" value="submit">
        </form>
    </div>
    

    </div>
</body>

</html>

