@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <mata name="description" content="This Is Description For My First Page">

        <title>Login Page</title>
        


</head>
<body>
    
    <form style=" width:430px; ;margin: auto; margin-top:80px; height:580px;background-color: rgba(14, 176, 208, 0.2);
     border-radius: 18px;">
        <div style="  width:100px; margin:auto;position:relative; padding:15px; top:40px;
    text-align: center; font-weight:bold;font-size: larger;">
            LOGIN
        </div>
        <br>
        <div class="email">
            <div style="margin-left: 30px;margin-bottom: 10px;">Email</div>
            <input class="1" type="email" required placeholder="Type Your Email" style="  width:350px;
    height: 30px;margin-left: 40px;margin-bottom: 10px;border-color: transparent transparent  #b4afaf transparent;
    background-color:rgba(255, 255, 255, 0.4)">

        </div>
        <br>
        <div class="pass">
            <div style="margin-left: 30px;margin-bottom: 10px;">Password</div>
            <input type="password" required required placeholder="Type Your password" style="  width:350px;
    height: 30px;margin-left: 40px;border-color: transparent transparent  #b4afaf transparent;background-color:
    rgba(255, 255, 255, 0.4)">
        </div>

        <a href="www.google.com" style=" font-size: small; text-decoration: none; color:black; position:relative;
 margin-left:290px; top: 10px;">
            Forget password?
        </a>
        <div style=" font-size: small; text-decoration: none; color:black; margin-left:40px; margin-top:-10px; ">
            <input id="check" type="checkbox" style="color:rgba(255, 255, 255, 0.4)">
            <label for="check">Remember me</label>
        </div>
        <br>
        <br>
        <div>
            <input class="sub" type="submit" value="LOGIN" style=" position: relative; width:360px;
height: 40px;  margin-top:30px;margin-left:30px; border-radius:10px;  background-color:rgba(255, 255, 255, 0.4);">
        </div>
    </form>
</body>

</html>