@model Report
<!-- create an account -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <mata name="description" content="This Is Description For My First Page">
        <title>Add Report</title>
        <link rel="stylesheet" href="..\css\information.css"/>
</head>
<body>
    <div class="form_">
        <header style="font-weight: bold; font-size: 30px; padding: 30px;">Report</header>
    <form asp-action="Report" method="post">
        <br>
        <input asp-for="CaseId" class="1" type="number" min="1" required placeholder="Case id">
        <br>
            <div style="margin-left: 30px;margin-bottom: 10px;">Is the data valid?
            <input asp-for="IfDataValid" class="1" type="checkbox" style="  width:50px;margin-top: 10px;
            height: 20px;margin-left: 10px; background-color:rgba(255, 255, 255, 0.4)">
            </div>
        
        <br>
        <div class="pass" style="text-align: center;">
            <div style="margin-bottom: 10px;">Type of Case</div>
                <select asp-for="TypeOfCase" name="case's_type" style="width: 100px;
            height: 40px;
            text-align: center;
            margin: auto;
            background-color: rgba(255, 255, 255, 0.4);
            font-size: large;
            font-weight: 200;
            border-radius: 5px;">
                <option value="1">Poor</option>
                <option value="2">Deptor</option>
                <option value="3">Chronic Disease Patient</option>
                <option value="4">Others</option>
            </select>
        </div>
        <br />
            <div>
                <textarea asp-for="FinalConclusion" rows="3" required placeholder="Enter a total conclusion about the case" style=" width: 330px; background-color: rgb(189, 188, 188); resize: vertical; height: 100px; border-radius: 15px; resize:none;"></textarea>
            </div>
            <input class="sub" type="submit" value="Submit">
    </form>
</div>
</body>
</html>