<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill Report</title>
    <link rel="stylesheet" href="~/css/Report.css">
</head>
<body style="background: url('Help-2.jpg') no-repeat; background-size: cover;background-attachment: fixed;
      background-position: center; margin:0; font-family: verdana,arial,sans-serif;">
    <div class="container">
        <form>
            <div class="check-data">
                <p>Is the data valid?</p>
                <div>
                    <input id="yes" type="radio" name="type" value="Yes">
                    <label for="yes">Yes</label>
                </div>
                <div>
                    <input id="no" type="radio" name="type" value="No">
                    <label for="no">No</label>
                </div>
            </div>
            <hr>
            <div class="case-type">
                <p>Type of case:</p>
                <select name="case-type" id="case-type">
                    <option value="1">Poor</option>
                    <option value="2">Debtor</option>
                    <option value="3">Chronic disease patient</option>
                </select>
            </div>
            <hr>
            <div class="conclusion">
                <p>Conclusion:</p>
                <textarea id="evaluation" name="conclusion" placeholder="Enter your conclusion here..." rows="10" cols="40"></textarea>
            </div>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
